#root {
  padding: 1rem;
}

.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.h-centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.v-centered {
  height: 100%;
  display: flex;
  align-items: center;
}

.hv-centered,
.vh-centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.standard-margin {
  margin: 0.5rem;
}

.grid{
  justify-content: space-around;
}

#previous{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#red{
  color : red;
  background-color: yellow;
}

#BsListUl{
  font-size: 3em;
  color: black;
}

#BsTrophy{
  font-size: 3em;
  color: black;
}