#root {
  padding: 1rem;
}

.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.h-centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.v-centered {
  height: 100%;
  display: flex;
  align-items: center;
}

.hv-centered,
.vh-centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.standard-margin {
  margin: 0.5rem;
}

.space{
  justify-content: space-around;
}

#previous{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#red{
  color : red;
  background-color: yellow;
}

#BsTrophy, #BsListUl {
  font-size: 3em;
  color: black;
}

#circle{
  background-color: #f50057;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

#circle2{
  background-color: #f50057;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}


#box{
  display: grid;
  grid-template-columns: 50px 50px;
  align-items: start;
  justify-content: space-between;
  position: fixed;
  bottom: 10%;
  width: 70%;
  text-align: center;
}

#BsPencil, #BsTrash, #IoMdArrowRoundBack{
  width: 50px;
  height: 50px;
}

#GrAdd{
  width: 25px;
  height: 25px;
}

#grid{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#modal{
  padding: 20px;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#centerWord{
  margin: 5%;
  height: 100px;
  font-size: 2em;
}

#standard-basic{
  font-size: larger;
}

#back {
  position: fixed;
    top: 10%;
    left: 10%;
}

#padding {
  padding: 10px 0px 20px 0px;
}